anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
bottle
bottleneck
brotlipy
cactus
cmake
conda-build
conda-package-handling
conda-verify
contextlib2
cython
cytoolz
distributed
dlib
fastcache
flake8
flask
fsspec
gevent
gmpy2
h5py
html5lib
importlib-metadata
imutils
ita
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mkl-service
mock
multipledispatch
navigator-updater
nltk
nose
numba
olefile
opencv-python
openpyxl
partd
path
pathlib2
pep8
pip-chill
ply
pycurl
pydocstyle
pyodbc
pyopenssl
pyserial
pysocks
pytest
rope
rtree
scikit-image
scikit-learn
seaborn
simplegeneric
singledispatch
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
unicodecsv
virtualenv
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
