{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

    <title>Soccer Web</title>
  </head>
  <body id="page-top">
    <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5 py-3">
        <a class="navbar-brand" href="{% url 'app:index' %}">Soccer Web</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'app:index' %}">ホーム</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'app:index' %}#move" scroll-behavior="smooth;">選手を探す</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'app:index' %}#move2" scroll-behavior="smooth;">選出方法について</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">コンタクト</a></li>
            </ul>
        </div>
    </div>
  </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block content %}
    {% endblock %}

    <!-- footerの表示 -->
    <footer class="text-center text-white" style="background-color: #21081a;">
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(83, 160, 62, 0.8);">
          <!-- Soccer Web -->
          <a style="font-size: large;">Soccer Web</a>
          <!-- <a class="text-white" href="https://mdbootstrap.com/">soccer_web.com</a> -->
        </div>
        <!-- Copyright -->
      </footer>
  </body>

</html>